@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.container {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/********************************************/

.sidebar {
    background-color: rgb(39, 125, 196);
    padding: 2vh;
    color: white;
}

.sidebar > div {
    font-weight: bolder;
    font-size: 2.5vh;
    margin: 3vh 0;

    display: flex;
}

.sidebar > div > img {
    height: 3vh;
    margin: 0 1vw;
}

/********************************************/

.top {
    display: grid;
    -webkit-box-shadow: -3px 10px 32px -2px rgba(204, 202, 202, 0.938);
    -moz-box-shadow: -3px 10px 32px -2px rgba(204, 202, 202, 0.938);
    box-shadow: -3px 10px 32px -2px rgba(204, 202, 202, 0.938);
    
}

.top > .upper {
    display: flex;
    padding: 0 2vw;
    
    align-items: center;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
}

.top > .upper > img {
    height: 3vh;
    margin: 0 1vw;
}

/* ____     ____    _____   ___     __*/

.top > .lower {
    align-items: center;
    padding: 0 2vw;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
}

.top > .lower > button {
    background-color: rgb(39, 125, 196);
    border: none;
    color: white;
    height: 5vh;
    width: 10vh;
    border-radius: 32px;
}

.top > .lower > button:active {
    background-color: white;
    color: rgb(39, 125, 196);
    border: 1px solid rgb(39, 125, 196);
}

/********************************************/

.bottom {
    padding: 5vh;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1vw;    
}

/* ____     ____    _____   ___     __*/
.projects {
    padding: 0;
}

.projects > h3 {
    padding: 0;
    margin: 0;

}

.cards {
    margin: 1vh;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
     
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    */
}

.card {
    padding: 2vh;
    margin: 1vh;

    border: 1px solid lightgray;
    border-left: 1vh solid gold;
    border-radius: 8px;

    /*
    height: 20vh;
    width: 40vh;
    */

    -webkit-box-shadow: 10px 10px 65px 1px rgba(0,0,0,0.11);
    -moz-box-shadow: 10px 10px 65px 1px rgba(0,0,0,0.11);
    box-shadow: 10px 10px 65px 1px rgba(0,0,0,0.11);

    display: flex;
    flex-direction: column;

}

.card > h4, .card > p {
    margin: 0;
    padding: 0;
}

.card > div {
    margin-top: 1vh;
    align-self: flex-end;
}

.card > div > img {
    margin-right: 1vw;
    height: 3vh;
}

.card > p {
    margin-top: 1vh;
    margin-bottom: 3vh;
}
/* ____     ____    _____   ___     __*/

.trending {
    display: grid;
}

.sidecard {
    margin: 0;
}

.box {
    border-radius: 16px;
    height: 25vh;
    margin-top: 1vh;
    padding: 3vh;

    
    -webkit-box-shadow: 10px 10px 65px 1px rgba(0,0,0,0.11);
    -moz-box-shadow: 10px 10px 65px 1px rgba(0,0,0,0.11);
    box-shadow: 10px 10px 65px 1px rgba(0,0,0,0.11);
}

.sidecard > h3 {
    margin: 0;
    font-weight: bolder;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 0;

    margin-top: 3vh;
    font-size: 2vh;
}

.profile > * {
    margin: 0
}

.profile > img {
    height: 6vh;
    border-radius: 50%;
    margin: 0 0.1vw;
}

